html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.75em !important;
    background-color: #f8ffff !important;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

